<div class="introduction-container">
    <div class="introduction-content">
      <h1>Welcome to Mood Market</h1>
      <p>
        Discover a new way to invest, tailored to your emotional state. Mood Market analyzes your current feelings and provides personalized stock recommendations.
      </p>
      <p>
        Whether you're feeling happy, sad, spontaneous, hopeful or conscious, we've got you covered. Our unique algorithm combines financial data with sentiment analysis to help you make informed investment decisions.
      </p>
      <p>
        Start by telling us how you're feeling, and we'll guide you through the world of stocks, helping you build a portfolio that aligns with your emotional well-being.
      </p>
      <h3>Click the Step 2: Emotions when you're ready!</h3>
      <a class="spacer" routerLink ='/moodMarketEmotion' routerLinkActive="activebutton">
        <button mat-fab extended [ngStyle]="{backgroundColor: 'blue', color: 'white'}">
          <mat-icon>public</mat-icon>
          Step 2: Emotion
        </button>
      </a>
    </div>
  </div>